@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";

@import "nativewind/theme";

@theme {
  --color-primary: #47a603;
  --color-secondary: #0d4036;
  --color-background: #f4f6f8;
}

@layer components {
  .texto-primario {
    @apply text-2xl font-bold;
  }
  .texto-secundario {
    @apply text-lg font-semibold;
  }
}
