@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";

@import "nativewind/theme";

@theme {
  --color-primary: #47a603;
  --color-secondary: #8b9287;
  --color-background: #0d4036;
  --color-texto: #232a29;
}

@layer components {
  .inputContainer {
    @apply flex-row items-center border border-gray-300 rounded-lg p-2 gap-2 w-full;
  }

  .inputContainer:focus-within {
    @apply border-primary ring-1 ring-primary;
  }

  .input {
    @apply text-base flex-1 w-full bg-transparent;
  }

  .inputDisabled {
    @apply bg-gray-100 cursor-not-allowed opacity-70;
  }
}
